@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
::-webkit-scrollbar  {
    background-color: var(--themeBackground);
}
::-webkit-scrollbar-thumb {
    background-color: var(--themePurple);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--themePurple);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --themePurple : #8685EF;
    --lightPurple : #E3E0F3;
    --themeBackground : #FAF8FF;
    --themeWhite : #ffffff;
}
html {
    scroll-behavior: smooth;
}
button {
    outline: none !important;
}
.fixed-nav {
    position: fixed;
    top: -6rem;
    transition: 0.3s ease-in-out;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.5);
    z-index: 10000;
    background-color: white;
}
.bg-custom-red {
    background-color:var(--themePurple) !important;
}
.text-custom-red {
    color: var(var(--themePurple)) !important;
}
.bg-theme-background {
    background-color: var(--themeBackground) !important;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}

